/* 主题背景 */
body {
    background-image: url("https://cdn.jsdelivr.net/gh/imsyy/file/pic/email-pattern.png"), url("../img/background.png");
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

/* Loading */
.center-div
{
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 50px;
height: 50px;
}
.loading-div
{
display: table-cell;
vertical-align: middle;
overflow: hidden;
text-align: center;
}
.loading-div::before
{
display: inline-block;
vertical-align: middle;
}
/* Loading动画 */
.load{position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);
width:50px;
height:50px;
z-index: 99;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
.load :first-child{background:#67C23A;animation-delay:-1.5s}
.load :nth-child(2){background:#909399;animation-delay:-1s}
.load :nth-child(3){background:#E6A23C;animation-delay:-0.5s}
.load :last-child{background:#F56C6C}
@keyframes spin{
0%,100%{transform:translate(0)}
25%{transform:translate(160%)}
50%{transform:translate(160%, 160%)}
75%{transform:translate(0, 160%)}
}

/* 主体框架 */
.idea {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 10px 5px;
    background: #FFFFFF;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 99;
}

/* 相册卡片 */
.card-image {
	display: block;
	min-height: 20rem;
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px);
}
.card-image > img {
	display: block;
	width: 100%;
	opacity: 0;
}
.card-image.is-loaded {
	filter: none;
	transition: filter 1s;
}
.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}
.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}
.card-description > h2 {
	margin: 0 0 0.5em;
}
.card-description > p {
	margin: 0;
}

/* 网抑音乐 */
.xiyang {
    width: 100%;
    height: 250px;
    display: flex;
    background: url('https://pic.imgdb.cn/item/616a7bbf2ab3f51d9174cb43.jpg') repeat-x 0 center/auto 100%;
    animation: smooth 22s linear infinite;
    animation-play-state: running;
}
@keyframes smooth {
    to {
    background-position: 1970px center;
    }
}
/* 抖动特效 */
.jitter {
    width: 100%;
    height: 100px;
    display: flex;
}
.jitter > .span {
    background: #909399;
    color: #FFFFFF;
    margin: auto;
    padding: .3em 1em .5em;
    border-radius: 3px;
    box-shadow: 0 0 .5em #767676;
    animation: shake-baidu 2s ease 0s infinite;
    animation-play-state: paused;
}
.jitter:hover > .span,
.jitter > .span:hover {
    animation-play-state: running;
}
@keyframes shake-baidu {
    from    { transform: rotate(0deg); }
    4%      { transform: rotate(5deg); }
    12.5%   { transform: rotate(-5deg); }
    21%     { transform: rotate(5deg); }
    29%     { transform: rotate(-5deg); }
    37.5%   { transform: rotate(5deg); }
    46%     { transform: rotate(-5deg); }
    50%,to  { transform: rotate(0deg); }
}
.yunping{
    color: #767676;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

/* 杂七杂八 */
a {
    color: #808080;
    text-decoration: none;
}
h2 {
    color: #909399;
    background-image: url(../img/header.png);
    text-align: center;
    letter-spacing: 10px;
    padding: 15px;
    margin: 0;
}
#grey {
    color: #767676;
}
#body {
    margin-top: 30px;
}
header {
    color: #909399;
    text-align: center;
    letter-spacing: 50px;
}
footer {
    color: #808080;
    text-align: center;
}

/* 底部歌词 */
.aplayer .aplayer-lrc p
{
display:none;font-size:12px;font-weight:700;line-height:16px!important;
}
.aplayer .aplayer-lrc p.aplayer-lrc-current
{
display:none;font-size:15px;color:#909399;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body
{
left:-66px!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover
{
left:0!important;
}